{
  "openapi": "3.0.1",
  "info": {
    "title": "Finance Accounting System API",
    "description": "Comprehensive accounting system for managing financial records, banking operations, and organizational accounts. Currently supports accounting and banking domains with planned warehouse inventory management with cell-based storage.",
    "contact": {
      "name": "API Support Team",
      "email": "bronya2004@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.0.3"
  },
  "servers": [
    {
      "url": "https://api.tarasantoniuk.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Banking - Bank Payments",
      "description": "Bank payment management API"
    },
    {
      "name": "Banking - Bank Receipts",
      "description": "Operations for managing bank receipt documents"
    },
    {
      "name": "Core - Accounting Policy",
      "description": "Accounting policy management API"
    },
    {
      "name": "Core - Counterparty",
      "description": "Counterparty management API"
    },
    {
      "name": "Admin - Exchange Rate Sync",
      "description": "Admin operations for external exchange rate synchronization"
    },
    {
      "name": "Core - Country",
      "description": "Country management API"
    },
    {
      "name": "Core - Currency",
      "description": "Currency management API"
    },
    {
      "name": "Core - Exchange Rate",
      "description": "External exchange rate management API"
    },
    {
      "name": "Core - Organization",
      "description": "Organization management API"
    },
    {
      "name": "Banking - Banks",
      "description": "Bank management API"
    },
    {
      "name": "Debug",
      "description": "Debug and performance monitoring endpoints"
    },
    {
      "name": "Banking - Banking Reports - Account Balance",
      "description": "Banking report Account Balance"
    },
    {
      "name": "Banking - Banking Reports - Account Turnover",
      "description": "Banking report - Account Turnover"
    },
    {
      "name": "Banking - Bank Accounts",
      "description": "Bank account management API"
    }
  ],
  "paths": {
    "/api/v1/bank-receipts/{id}": {
      "get": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Get bank receipt by ID",
        "description": "Retrieves a bank receipt by its ID with all related entities",
        "operationId": "getById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank receipt ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank receipt not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Bank receipt found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                },
                "examples": {
                  "Bank Receipt Example": {
                    "description": "Bank Receipt Example",
                    "value": {
                      "id": 1,
                      "transactionDateTime": "2025-12-02T10:30:00",
                      "receiptType": "CUSTOMER_PAYMENT",
                      "amount": 10000,
                      "bankCommission": 50,
                      "status": "POSTED",
                      "account": {
                        "id": 1,
                        "accountNumber": "ES1234567890123456789012",
                        "accountName": "Main Business Account"
                      },
                      "counterparty": {
                        "id": 7,
                        "name": "ACME Corporation"
                      },
                      "currency": {
                        "id": 2,
                        "code": "EUR",
                        "name": "Euro"
                      },
                      "organization": {
                        "id": 1,
                        "name": "My Company Ltd"
                      },
                      "description": "Payment for software development services",
                      "paymentPurpose": "Invoice #INV-2025-125, December services",
                      "paymentReference": "INV-2025-125",
                      "createdAt": "2025-12-02T10:30:00",
                      "updatedAt": "2025-12-02T10:35:00",
                      "postedAt": "2025-12-02T10:35:00"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Update bank receipt",
        "description": "Updates an existing bank receipt. Only DRAFT receipts can be modified.",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank receipt ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankReceiptRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bank receipt updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank receipt not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update receipt in current status",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Delete bank receipt",
        "description": "Deletes a bank receipt. Only DRAFT receipts can be deleted.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank receipt ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "404": {
            "description": "Bank receipt not found"
          },
          "204": {
            "description": "Bank receipt deleted successfully"
          },
          "409": {
            "description": "Cannot delete receipt in current status (only DRAFT receipts can be deleted)"
          }
        }
      }
    },
    "/api/v1/bank-payments/{id}": {
      "get": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Get bank payment by ID",
        "description": "Returns detailed information about a bank payment",
        "operationId": "getBankPaymentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank payment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank payment not found"
          },
          "200": {
            "description": "Bank payment found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankPaymentResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Update bank payment",
        "description": "Updates existing bank payment. Only documents with DRAFT status can be edited",
        "operationId": "updateBankPayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank payment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankPaymentRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid data or document already posted"
          },
          "404": {
            "description": "Bank payment not found"
          },
          "200": {
            "description": "Bank payment successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankPaymentResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Delete bank payment",
        "description": "Deletes a bank payment. Only documents with DRAFT status can be deleted",
        "operationId": "deleteBankPayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank payment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Cannot delete posted document"
          },
          "404": {
            "description": "Bank payment not found"
          },
          "204": {
            "description": "Bank payment successfully deleted"
          }
        }
      }
    },
    "/api/organizations/{id}": {
      "get": {
        "tags": [
          "Core - Organization"
        ],
        "summary": "Get organization by ID",
        "description": "Retrieve an organization by its ID",
        "operationId": "getOrganizationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Organization not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Organization found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Core - Organization"
        ],
        "summary": "Update an organization",
        "description": "Update an existing organization record",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Organization not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Organization updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Core - Organization"
        ],
        "summary": "Delete an organization",
        "description": "Delete an organization by its ID",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted successfully"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/api/exchange-rates/{id}": {
      "get": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Get exchange rate by ID",
        "description": "Retrieve an exchange rate by its ID",
        "operationId": "getExchangeRateById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Exchange rate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Exchange rate not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Exchange rate found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Update an exchange rate",
        "description": "Update an existing exchange rate record",
        "operationId": "updateExchangeRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Exchange rate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalExchangeRateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Exchange rate not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Exchange rate updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Delete an exchange rate",
        "description": "Delete an exchange rate by its ID",
        "operationId": "deleteExchangeRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Exchange rate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Exchange rate not found"
          },
          "204": {
            "description": "Exchange rate deleted successfully"
          }
        }
      }
    },
    "/api/currencies/{id}": {
      "get": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Get currency by ID",
        "description": "Retrieve a currency by its ID",
        "operationId": "getCurrencyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currency found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Currency not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Update a currency",
        "description": "Update an existing currency record",
        "operationId": "updateCurrency",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Currency not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Currency updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Delete a currency",
        "description": "Delete a currency by its ID",
        "operationId": "deleteCurrency",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Currency not found"
          },
          "204": {
            "description": "Currency deleted successfully"
          }
        }
      }
    },
    "/api/countries/{id}": {
      "get": {
        "tags": [
          "Core - Country"
        ],
        "summary": "Get country by ID",
        "description": "Retrieve a country by its ID",
        "operationId": "getCountryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Country ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Core - Country"
        ],
        "summary": "Update a country",
        "description": "Update an existing country record",
        "operationId": "updateCountry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Country ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Country updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Country not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Core - Country"
        ],
        "summary": "Delete a country",
        "description": "Delete a country by its ID",
        "operationId": "deleteCountry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Country ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Country deleted successfully"
          },
          "404": {
            "description": "Country not found"
          }
        }
      }
    },
    "/api/counterparties/{id}": {
      "get": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Get counterparty by ID",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CounterpartyResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Update counterparty",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CounterpartyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CounterpartyResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Delete counterparty",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/banks/{id}": {
      "get": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Get bank by ID",
        "description": "Retrieve a bank by its ID",
        "operationId": "getBankById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Update a bank",
        "description": "Update an existing bank record",
        "operationId": "updateBank",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bank updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Delete a bank",
        "description": "Delete a bank by its ID",
        "operationId": "deleteBank",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Bank deleted successfully"
          },
          "404": {
            "description": "Bank not found"
          }
        }
      }
    },
    "/api/bank-accounts/{id}": {
      "get": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Get bank account by ID",
        "description": "Retrieve a bank account by its ID",
        "operationId": "getBankAccountById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank account not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Bank account found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Update a bank account",
        "description": "Update an existing bank account record",
        "operationId": "updateBankAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bank account updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank account not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Delete a bank account",
        "description": "Delete a bank account by its ID",
        "operationId": "deleteBankAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank account not found"
          },
          "204": {
            "description": "Bank account deleted successfully"
          }
        }
      }
    },
    "/api/accounting-policies/{id}": {
      "get": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Get accounting policy by ID",
        "description": "Retrieve an accounting policy by its ID",
        "operationId": "getAccountingPolicyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accounting policy ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Accounting policy not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Accounting policy found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Update an accounting policy",
        "description": "Update an existing accounting policy record",
        "operationId": "updateAccountingPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accounting policy ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingPolicyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Accounting policy updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Accounting policy not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Delete an accounting policy",
        "description": "Delete an accounting policy by its ID",
        "operationId": "deleteAccountingPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accounting policy ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Accounting policy deleted successfully"
          },
          "404": {
            "description": "Accounting policy not found"
          }
        }
      }
    },
    "/api/v1/bank-receipts": {
      "get": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Get all bank receipts",
        "description": "Retrieves all bank receipts with pagination and sorting.\n\nSort examples:\n- sort=transactionDateTime,desc (default)\n- sort=amount,asc\n- sort=id,desc\n\nPagination examples:\n- page=0&size=20 (default)\n- page=2&size=50\n",
        "operationId": "getAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Format: property,(asc|desc). Example: documentDate,desc",
            "required": false,
            "schema": {
              "type": "string",
              "example": "documentDate,desc"
            },
            "example": "documentDate,desc"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bank receipts retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                },
                "examples": {
                  "Paginated Bank Receipts": {
                    "description": "Paginated Bank Receipts",
                    "value": {
                      "content": [
                        {
                          "id": 1,
                          "transactionDateTime": "2025-12-02T10:30:00",
                          "receiptType": "CUSTOMER_PAYMENT",
                          "amount": 10000,
                          "bankCommission": 50,
                          "status": "POSTED",
                          "account": {
                            "id": 1,
                            "accountNumber": "ES1234567890123456789012",
                            "accountName": "Main Business Account"
                          },
                          "counterparty": {
                            "id": 7,
                            "name": "ACME Corporation"
                          },
                          "currency": {
                            "id": 2,
                            "code": "EUR",
                            "name": "Euro"
                          },
                          "organization": {
                            "id": 1,
                            "name": "My Company Ltd"
                          },
                          "description": "Payment for software development services",
                          "createdAt": "2025-12-02T10:30:00",
                          "updatedAt": "2025-12-02T10:35:00",
                          "postedAt": "2025-12-02T10:35:00"
                        }
                      ],
                      "metadata": {
                        "currentPage": 0,
                        "pageSize": 20,
                        "totalElements": 150,
                        "totalPages": 8,
                        "hasNext": true,
                        "hasPrevious": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Create new bank receipt",
        "description": "Creates a new bank receipt document in DRAFT status",
        "operationId": "create",
        "requestBody": {
          "description": "Bank receipt data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankReceiptRequestDto"
              },
              "examples": {
                "Customer Payment": {
                  "description": "Customer Payment",
                  "value": {
                    "transactionDateTime": "2025-12-02T10:30:00",
                    "receiptType": "CUSTOMER_PAYMENT",
                    "amount": 10000,
                    "bankCommission": 50,
                    "accountId": 1,
                    "counterpartyId": 7,
                    "counterpartyBankAccountId": 6,
                    "currencyId": 2,
                    "organizationId": 1,
                    "description": "Payment for software development services",
                    "paymentPurpose": "Invoice #INV-2025-125, December services",
                    "paymentReference": "INV-2025-125",
                    "incomingDocumentNumber": "PAY-DEC-12345",
                    "valueDate": "2025-12-02",
                    "externalTransactionId": "BANK-TXN-2025-DEC-001"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "409": {
            "description": "Receipt with external transaction ID already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Related entity not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "Bank receipt created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-receipts/{id}/unpost": {
      "post": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Unpost bank receipt",
        "description": "Unposts the bank receipt (changes status from POSTED to DRAFT) and removes corresponding accounting entries.\nThis operation:\n- Changes document status from POSTED to DRAFT\n- Removes all related accounting entries\n- Reverses bank account balance changes\n- Clears posting timestamp\n",
        "operationId": "unpost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank receipt ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "400": {
            "description": "Document not posted or cannot be unposted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank receipt not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Bank receipt successfully unposted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Business rule violation (e.g., closed period, dependent documents exist)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-receipts/{id}/post": {
      "post": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Post bank receipt",
        "description": "Posts the bank receipt (changes status from DRAFT to POSTED) and creates corresponding accounting entries.\nThis operation:\n- Changes document status from DRAFT to POSTED\n- Creates accounting entries (debiting bank account, crediting income/liability accounts)\n- Updates bank account balance\n- Records posting timestamp\n",
        "operationId": "post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank receipt ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "409": {
            "description": "Business rule violation (e.g., insufficient balance, closed period)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Document already posted or cannot be posted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank receipt not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Bank receipt successfully posted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankReceiptResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-payments": {
      "get": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Get all bank payments",
        "description": "Returns a paginated list of all bank payments. Default sorting by document date (descending).\n\n**Sort examples:**\n- `sort=documentDate,desc` - sort by document date descending\n- `sort=amount,asc` - sort by amount ascending\n- `sort=id,desc` - sort by ID descending\n",
        "operationId": "getAllBankPayments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Format: property,(asc|desc). Example: documentDate,desc",
            "required": false,
            "schema": {
              "type": "string",
              "example": "documentDate,desc"
            },
            "example": "documentDate,desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of bank payments",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseBankPaymentResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Create new bank payment",
        "description": "Creates a new bank payment document with DRAFT status",
        "operationId": "createBankPayment",
        "requestBody": {
          "description": "Bank payment data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankPaymentRequestDto"
              },
              "examples": {
                "Supplier Payment": {
                  "description": "Supplier Payment",
                  "value": {
                    "transactionDateTime": "2025-12-02T10:30:00",
                    "paymentType": "SUPPLIER_PAYMENT",
                    "amount": 5000,
                    "accountId": 1,
                    "counterpartyId": 7,
                    "counterpartyBankAccountId": 6,
                    "currencyId": 2,
                    "organizationId": 1,
                    "description": "Payment for consulting services",
                    "paymentPurpose": "Invoice #SUP-2025-100, November services",
                    "paymentReference": "SUP-2025-100",
                    "outgoingDocumentNumber": "PAY-OUT-12345",
                    "valueDate": "2025-12-02",
                    "externalTransactionId": "BANK-TXN-OUT-2025-001"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid request data"
          },
          "201": {
            "description": "Bank payment successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankPaymentResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Account or counterparty not found"
          }
        }
      }
    },
    "/api/v1/bank-payments/{id}/unpost": {
      "post": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Unpost bank payment",
        "description": "Unposts the bank payment (changes status from POSTED to DRAFT) and removes corresponding accounting entries",
        "operationId": "unpost_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank payment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank payment successfully unposted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankPaymentResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank payment not found"
          },
          "400": {
            "description": "Document not posted or cannot be unposted"
          }
        }
      }
    },
    "/api/v1/bank-payments/{id}/post": {
      "post": {
        "tags": [
          "Banking - Bank Payments"
        ],
        "summary": "Post bank payment",
        "description": "Posts the bank payment (changes status from DRAFT to POSTED) and creates corresponding accounting entries",
        "operationId": "post_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank payment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Document already posted or cannot be posted"
          },
          "404": {
            "description": "Bank payment not found"
          },
          "200": {
            "description": "Bank payment successfully posted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankPaymentResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/organizations": {
      "get": {
        "tags": [
          "Core - Organization"
        ],
        "summary": "Get all organizations",
        "description": "Retrieve a list of all organizations",
        "operationId": "getAllOrganizations",
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core - Organization"
        ],
        "summary": "Create a new organization",
        "description": "Create a new organization record",
        "operationId": "createOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "Organization created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchange-rates": {
      "get": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Get all exchange rates",
        "description": "Retrieve a paginated list of all exchange rates, sorted by date (newest first).\n\nExamples:\n- GET /api/exchange-rates - first page with default settings\n- GET /api/exchange-rates?page=1 - second page\n- GET /api/exchange-rates?page=0&size=100 - first page with 100 items\n",
        "operationId": "getAllExchangeRates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            },
            "example": 200
          },
          {
            "name": "maxSize",
            "in": "query",
            "description": "Maximum allowed page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved paginated list",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseExternalExchangeRateResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Create a new exchange rate",
        "description": "Create a new exchange rate record",
        "operationId": "createExchangeRate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalExchangeRateRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Exchange rate created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/debug/hibernate-stats/clear": {
      "post": {
        "tags": [
          "Debug"
        ],
        "summary": "Clear Hibernate statistics",
        "description": "Resets all Hibernate statistics counters",
        "operationId": "clearStats",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/currencies": {
      "get": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Get all currencies",
        "description": "Retrieve a list of all currencies",
        "operationId": "getAllCurrencies",
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Create a new currency",
        "description": "Create a new currency record",
        "operationId": "createCurrency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Currency created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/countries": {
      "get": {
        "tags": [
          "Core - Country"
        ],
        "summary": "Get all countries",
        "description": "Retrieve a list of all countries",
        "operationId": "getAllCountries",
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core - Country"
        ],
        "summary": "Create a new country",
        "description": "Create a new country record",
        "operationId": "createCountry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "Country created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/counterparties": {
      "get": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Get all counterparties",
        "description": "Retrieve a paginated list of all counterparties, sorted by name (A-Z).\n\nExamples:\n- GET /api/counterparties - first page with default settings\n- GET /api/counterparties?page=1 - second page\n- GET /api/counterparties?page=0&size=50 - first page with 50 items\n",
        "operationId": "getAll_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          },
          {
            "name": "maxSize",
            "in": "query",
            "description": "Maximum allowed page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved paginated list",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseCounterpartyResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Create counterparty",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CounterpartyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CounterpartyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/banks": {
      "get": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Get all banks",
        "description": "Retrieve a list of all banks",
        "operationId": "getAllBanks",
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Create a new bank",
        "description": "Create a new bank record",
        "operationId": "createBank",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          },
          "201": {
            "description": "Bank created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/bank-accounts": {
      "get": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Get all bank accounts",
        "description": "Retrieve a list of all bank accounts",
        "operationId": "getAllBankAccounts",
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccountResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Create a new bank account",
        "description": "Create a new bank account record",
        "operationId": "createBankAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Bank account created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/external-rate-sync/ecb/history": {
      "post": {
        "tags": [
          "Admin - Exchange Rate Sync"
        ],
        "summary": "Sync historical ECB exchange rates",
        "description": "Synchronize historical exchange rates from European Central Bank (ECB). Fetches all available historical rates and saves them to the database.",
        "operationId": "syncECBHistory",
        "responses": {
          "500": {
            "description": "Synchronization failed",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Synchronization completed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/external-rate-sync/ecb/daily": {
      "post": {
        "tags": [
          "Admin - Exchange Rate Sync"
        ],
        "summary": "Sync daily ECB exchange rates",
        "description": "Synchronize latest exchange rates from European Central Bank (ECB). Fetches current day rates and saves them to the database.",
        "operationId": "syncECBDaily",
        "responses": {
          "500": {
            "description": "Synchronization failed",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Synchronization completed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting-policies": {
      "get": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Get all accounting policies",
        "description": "Retrieve a list of all accounting policies",
        "operationId": "getAllAccountingPolicies",
        "responses": {
          "200": {
            "description": "Successfully retrieved list",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Create a new accounting policy",
        "description": "Create a new accounting policy record",
        "operationId": "createAccountingPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingPolicyRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Accounting policy created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchange-rates/{id}/deactivate": {
      "patch": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Deactivate an exchange rate",
        "description": "Mark an exchange rate as inactive",
        "operationId": "deactivateExchangeRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Exchange rate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Exchange rate not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Exchange rate deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchange-rates/{id}/activate": {
      "patch": {
        "tags": [
          "Core - Exchange Rate"
        ],
        "summary": "Activate an exchange rate",
        "description": "Mark an exchange rate as active",
        "operationId": "activateExchangeRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Exchange rate ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Exchange rate not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Exchange rate activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalExchangeRateResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/currencies/{id}/deactivate": {
      "patch": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Deactivate a currency",
        "description": "Mark a currency as inactive",
        "operationId": "deactivateCurrency",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currency deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Currency not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/currencies/{id}/activate": {
      "patch": {
        "tags": [
          "Core - Currency"
        ],
        "summary": "Activate a currency",
        "description": "Mark a currency as active",
        "operationId": "activateCurrency",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currency activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Currency not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/counterparties/{id}/deactivate": {
      "patch": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Deactivate counterparty",
        "operationId": "deactivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/counterparties/{id}/activate": {
      "patch": {
        "tags": [
          "Core - Counterparty"
        ],
        "summary": "Activate counterparty",
        "operationId": "activate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/banks/{id}/deactivate": {
      "patch": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Deactivate a bank",
        "description": "Mark a bank as inactive",
        "operationId": "deactivateBank",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Bank deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/banks/{id}/activate": {
      "patch": {
        "tags": [
          "Banking - Banks"
        ],
        "summary": "Activate a bank",
        "description": "Mark a bank as active",
        "operationId": "activateBank",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bank activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/bank-accounts/{id}/unset-default": {
      "patch": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Unset as default account",
        "description": "Remove default flag from a bank account",
        "operationId": "unsetAsDefault",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default flag removed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Bank account not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/bank-accounts/{id}/status/{status}": {
      "patch": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Change bank account status",
        "description": "Change the status of a bank account",
        "operationId": "changeStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "path",
            "description": "New status",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE",
                "CLOSED"
              ]
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank account not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Status changed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/bank-accounts/{id}/set-default": {
      "patch": {
        "tags": [
          "Banking - Bank Accounts"
        ],
        "summary": "Set as default account",
        "description": "Mark a bank account as default",
        "operationId": "setAsDefault",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bank account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bank account not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Account set as default successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting-policies/{id}/deactivate": {
      "patch": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Deactivate an accounting policy",
        "description": "Mark an accounting policy as inactive",
        "operationId": "deactivateAccountingPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accounting policy ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accounting policy deactivated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Accounting policy not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounting-policies/{id}/activate": {
      "patch": {
        "tags": [
          "Core - Accounting Policy"
        ],
        "summary": "Activate an accounting policy",
        "description": "Mark an accounting policy as active",
        "operationId": "activateAccountingPolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accounting policy ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Accounting policy not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          },
          "200": {
            "description": "Accounting policy activated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPolicyResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/banking/reports/accountturnover/account-turnovers": {
      "get": {
        "tags": [
          "Banking - Banking Reports - Account Turnover"
        ],
        "summary": "Get account turnover report",
        "description": "Generate report showing account turnovers (receipts and payments) for a specified period.\n\nReturns:\n- Opening balance\n- Debit/credit turnovers\n- Closing balance\n- Transaction count for each account\n\nPeriod Types:\n- DAY: Single day (defaults to today if no date specified)\n- MONTH: Full month (first to last day)\n- QUARTER: Full quarter (3 months) - DEFAULT\n- YEAR: Full year (January 1 to December 31)\n- CUSTOM: Custom date range (requires both startDate and endDate)\n\nThe client sends period type and date boundaries, backend validates and applies them.\nMaximum period: 365 days\n\nExamples:\n- Current quarter: /api/v1/banking/reports/account-turnovers\n- Specific month: /api/v1/banking/reports/account-turnovers?periodType=MONTH&startDate=2025-10-01\n- Custom range: /api/v1/banking/reports/account-turnovers?periodType=CUSTOM&startDate=2025-10-01&endDate=2025-12-31\n",
        "operationId": "getAccountTurnovers",
        "parameters": [
          {
            "name": "periodType",
            "in": "query",
            "description": "Period type (DAY, MONTH, QUARTER, YEAR, CUSTOM). Default: QUARTER",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Report period type",
              "enum": [
                "DAY",
                "MONTH",
                "QUARTER",
                "YEAR",
                "CUSTOM"
              ]
            },
            "example": "QUARTER"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Period start date. For CUSTOM - required. For others - optional (used to determine which day/month/quarter/year). If not provided, defaults to current period.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-10-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Period end date. Required only for CUSTOM period type. Ignored for other period types (boundaries calculated automatically).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Filter by organization ID (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "Filter by specific account ID (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "Filter by currency ID (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTurnoverReportDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters (invalid period type, missing dates for CUSTOM, or period \u003E 365 days)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTurnoverReportDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/banking/reports/accountturnover/account-turnovers/{accountId}/details": {
      "get": {
        "tags": [
          "Banking - Banking Reports - Account Turnover"
        ],
        "summary": "Get detailed account turnover with all movements",
        "description": "Generate detailed drill-down report for a specific account showing all movements within a date range.\n\nReturns:\n- Account details (number, name, currency)\n- Opening balance (before start date)\n- All movements within the date range\n- Running balance after each movement\n- Closing balance (after last movement)\n\nMovements include:\n- Transaction event details\n- Document type and ID\n- Transaction date and time\n- Description\n- Debit/credit amounts\n- Running balance\n\nExcludes:\n- Reversed events (isReversed = true)\n- Reversal events (documentType ends with \"Reversal\")\n\nExample:\n/api/v1/banking/reports/accountturnover/account-turnovers/1/details?startDate=2025-01-01&endDate=2025-12-31&organizationId=1\n",
        "operationId": "getAccountTurnoverDetails",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Period start date (required)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Period end date (required)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Organization ID (required for validation)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Details report generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTurnoverDetailsDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters (missing dates or account not found)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTurnoverDetailsDTO"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTurnoverDetailsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/banking/reports/accountbalance/account-balances": {
      "get": {
        "tags": [
          "Banking - Banking Reports - Account Balance"
        ],
        "summary": "Get account balance report",
        "description": "Generate report showing current balances on all bank accounts with optional filters.\n\nDefault values:\n- asOfDate: today's date\n- All organizations and currencies included if not filtered\n\nExample: /api/v1/banking/reports/account-balances?asOfDate=2025-12-02&organizationId=1\n",
        "operationId": "getAccountBalances",
        "parameters": [
          {
            "name": "asOfDate",
            "in": "query",
            "description": "Date to calculate balances (default: today)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-02"
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Filter by organization ID (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "Filter by currency ID (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalanceReportDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalanceReportDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-receipts/status/{status}": {
      "get": {
        "tags": [
          "Banking - Bank Receipts"
        ],
        "summary": "Get bank receipts by status",
        "description": "Retrieves all bank receipts with a specific status (DRAFT, POSTED, CANCELLED) with pagination",
        "operationId": "getByStatus",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "description": "Document status",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DRAFT",
              "enum": [
                "DRAFT",
                "POSTED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Format: property,(asc|desc). Example: documentDate,desc",
            "required": false,
            "schema": {
              "type": "string",
              "example": "documentDate,desc"
            },
            "example": "documentDate,desc"
          }
        ],
        "responses": {
          "200": {
[...]
